.heading {
  display: flex;
  align-items: baseline;
  margin: 0 0 1rem;
}

.heading > h1 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.319;
  vertical-align: middle;
  display: inline-block;
}
