.pedal-list {
  width: 100%;
  max-width: 64rem;
}

@media (min-width: 22rem) {
  .pedal-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: .5rem;
  }
}

@media (min-width: 32rem) {
  .pedal-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 48rem) {
  .pedal-list {
    grid-template-columns: repeat(4, 1fr);
  }
}
